# School District Analysis

In [2]:
# Dependencies
import pandas as pd

In [3]:
# Files
school_csv = "Resources/schools_complete.csv"
student_csv = "Resources/students_complete.csv"

In [4]:
sch_data = pd.read_csv(school_csv)
stu_data = pd.read_csv(student_csv)

In [5]:
#Checked data / looked up for NA's 
sch_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
sch_data.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [8]:
stu_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [9]:
stu_data.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [10]:
# Combine the data into a single dataset.  
sch_stu_data = pd.merge(stu_data, sch_data, how="left", on=["school_name", "school_name"])

In [11]:
sch_stu_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [12]:
# Total schools
total_schools = sch_stu_data["School ID"].nunique()
total_schools

15

In [13]:
# Total students
total_students = sch_stu_data["Student ID"].nunique()
total_students

39170

In [26]:
# Total budget
total_budget = sch_data["budget"].sum()
total_budget

24649428

In [28]:
# Average math score
math_score_avg = round(sch_stu_data["math_score"].mean(),2)
math_score_avg

78.99

In [29]:
# Average reading score
reading_score_avg = round(sch_stu_data["reading_score"].mean(),2)
reading_score_avg

81.88

In [82]:
#
#function
def percent(parcial, total):
    prc = (parcial*100)/total
    return round(prc,2)

In [120]:
# as the guideline did not define what the pass grade is, I defined pass = 70 ((same results as starter))
pass_grade = 70

In [121]:
# % passing math (the percentage of students who passed math)
pass_math_column = sch_stu_data.loc[sch_stu_data["math_score"] >= pass_grade, "math_score"]
pass_math_cnt = pass_math_column.count()

In [122]:
pass_math_prc = percent(pass_math_cnt, total_students)
pass_math_prc

74.98

In [123]:
# % passing reading (the percentage of students who passed reading)
pass_reading_column = sch_stu_data.loc[sch_stu_data["reading_score"] >= pass_grade, "reading_score"]
pass_reading_cnt = pass_reading_column.count()

In [124]:
pass_reading_prc = percent(pass_reading_cnt, total_students)
pass_reading_prc

85.81

In [125]:
# % overall passing (the percentage of students who passed math AND reading)
pass_all_column = (sch_stu_data["math_score"] >= pass_grade) & (sch_stu_data["reading_score"] >= pass_grade)
pass_all = pass_all_column.value_counts()
pass_all

True     25528
False    13642
dtype: int64

In [126]:
# keep "True"
pass_all_cnt = pass_all[1]
pass_all_cnt

25528

In [127]:
pass_all_prc = percent(pass_all_cnt, total_students)
pass_all_prc

65.17

In [128]:
# Dataframe with the above results
district_summary = {
    "total_schools": [total_schools],
    "total_students": [total_students],
    "total_budget": [total_budget],
    "math_score_avg": [math_score_avg],
    "reading_score_avg": [reading_score_avg],
    "% passed math": [pass_math_prc],
    "% passed reading": [pass_reading_prc],
    "% passed math & read": [pass_all_prc]
}
district_summary

{'total_schools': [15],
 'total_students': [39170],
 'total_budget': [24649428],
 'math_score_avg': [78.99],
 'reading_score_avg': [81.88],
 '% passed math': [74.98],
 '% passed reading': [85.81],
 '% passed math & read': [65.17]}

In [129]:
# RESULTS
district_summary_df = pd.DataFrame(district_summary)
district_summary_df

,total_schools,total_students,total_budget,math_score_avg,reading_score_avg,% passed math,% passed reading,% passed math & read
0,15,39170,24649428,78.99,81.88,74.98,85.81,65.17

---------------------------------------------

# School Summary

---------------------------------------------

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [141]:
sch_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [142]:
stu_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [153]:
# Create new df with the columns that I need
# School Name, School Type, Total Students, Total School Budget
school_summary = pd.DataFrame(sch_data[["school_name","type","size","budget"]])

In [154]:
# rename them
school_summary = school_summary.rename(
    columns={
    "school_name":"School Name",
    "type":"School Type",
    "budget":"Total School Budget",
    "size":"Total Students"
})

In [155]:
# set index
school_summary.set_index("School Name", inplace=True)

In [158]:
#Per Student Budget
school_summary["Per Student Budget"] = (
    school_summary["Total School Budget"]/school_summary["Total Students"])

In [185]:
# group by
sch_groupby_data = sch_stu_data.groupby("school_name")    # .mean()
sch_groupby_data

In [172]:
#Average Math Score
school_summary["Average Math Score"] = (
    round(sch_groupby_data["math_score"].mean(),2))

In [174]:
#Average Reading Score
school_summary["Average Reading Score"] = (
    round(sch_groupby_data["reading_score"].mean(),2))

In [199]:
# % Passing Math
# count
pass_math_cnt_sch = sch_stu_data.loc[
    sch_stu_data["math_score"] >= pass_grade].groupby(["school_name"]).count()

In [201]:
#percent
school_summary["% Passing Math"] = percent(
    pass_math_cnt_sch["math_score"], school_summary["Total Students"])

In [206]:
# % Passing Reading
#count
pass_read_cnt_sch = sch_stu_data.loc[
    sch_stu_data["reading_score"] >= pass_grade].groupby(["school_name"]).count()

In [207]:
#percent
school_summary["% Passing Reading"] = percent(
    pass_read_cnt_sch["reading_score"], school_summary["Total Students"])

In [211]:
# % Overall Passing (The percentage of students that passed math and reading)
# count
pass_math_read_cnt_sch = sch_stu_data.loc[
    (sch_stu_data["math_score"] >= pass_grade) & (sch_stu_data["reading_score"] >= pass_grade)].groupby(
    ["school_name"]).count()

In [212]:
#percent
school_summary["% Overall Passing"] = percent(
    pass_math_read_cnt_sch["reading_score"], school_summary["Total Students"])

In [214]:
# dataframe to hold the above results
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68,81.32,53.51
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,53.20
Shelton High School,Charter,1761,1056600,600.0,83.36,83.73,93.87,95.85,89.89
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,66.75,80.86,53.53
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,90.60
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87,96.54,90.58
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,91.33
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.68,81.93,54.64
Holden High School,Charter,427,248087,581.0,83.80,83.81,92.51,96.25,89.23
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59,95.95,90.54
Wright High School,Charter,1800,1049400,583.0,83.68,83.96,93.33,96.61,90.33
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37,80.22,52.99
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06,81.22,53.54
Ford High School,District,2739,1763916,644.0,77.10,80.75,68.31,79.30,54.29
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27,97.31,90.95